<!DOCTYPE html>
<html>
<head>
    <title>Menucool Css Menu</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Pathway+Gothic+One" />
    <link href="/static/header.css" rel="stylesheet" />
    <style>
        body {
            margin:0;
            background:#FFFFFF;
        }
        #menuDemo { text-align:center; padding:10px 8px; }
    </style>
</head>
<body>
<div id="menuDemo">
<!--start CssMenu-->
<div id="cssmenu">
    <ul>
        <li><a href="#">Stream</a></li>
        <li><a href="#">Doubt</a></li>
        <li><a href="#">People</a></li>
    </ul>
</div>
<!--end CssMenu-->
</div>
<hr>
</body>
</html>