<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body style="font-size: 22px;">
    <div>Question : </div>
    <div>{{question}}</div>
    <br>
    <div>Answers : </div>
    {% for i in answer_list %}
        <div>{{i.ans}}</div>
        <div>By {{i.user_id.name}}</div>
        <br>
    {% endfor %}
</body>
</html>